/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
!/build
/build/properties/*
/build/database/*
/bin/
/composer.phar
/web/bundles/
/vendor/**/.git
logs
.DS_Store
.idea
