{% extends "::base.html.twig" %}

{% block title %}Looks like you dont have any vocabulary yet. Lets creat one!{% endblock %}

{% block content %}
    <div>
        create vocabulary functionality hear.
    </div>
{% endblock %}
