{% extends "@General/Default/base.html.twig" %}

{% block title %}Login page (POST).{% endblock %}


{% block content %}
    <p>
        This page should not be executed,
        as the route is handled by the Security system.
    </p>
{% endblock %}