<style>
    .dropdown-menu-n {
        position: relative;
        width: 100%;
        left: 0;
        z-index: 1000;
        min-width: 160px;
        padding: 0;
        list-style: none;
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        box-shadow: 0 3px 6px rgba(0, 0, 0, .175);
    }
    .dropdown-menu-n:before {
        content: "";
        border-bottom: 10px solid #fff;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        position: absolute;
        top: -10px;
        left: 16px;
        z-index: 10;
    }
    .dropdown-menu-n:after {
         content: "";
         border-bottom: 12px solid #ccc;
         border-right: 12px solid transparent;
         border-left: 12px solid transparent;
         position: absolute;
         top: -12px;
         left: 14px;
         z-index: 9;
    }
    .dropdown-menu-n li {
        border-bottom: 1px solid rgba(0, 0, 0, .15);
        padding: 5px 10px;
    }
    .dropdown-menu-n li:last-child {
        border-bottom: none;
    }
</style>

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Remember words.</h4>
        </div>
        <div class="modal-body">
            {% for sheetWord in sheetWords|slice(0, 1) %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 id="word" class="panel-title">
                            {{ sheetWord.word.word }}
                        </h3>
                    </div>
                </div>
                <ul id="translations" class="dropdown-menu-n">
                    {% for sheetWordTranslation in sheetWord.sheetWordTranslations %}
                        <li>
                            {{ sheetWordTranslation.translation.translation }}
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>

<script>
var words = [];
{% for sheetWord in sheetWords %}
    words.push({
        word: '{{ sheetWord.word.word }}',
        translations: [{% spaceless %}
            {% for sheetWordTranslation in sheetWord.sheetWordTranslations %}
                '{{ sheetWordTranslation.translation.translation }}',
            {% endfor %}
        {% endspaceless %}]
    });
{% endfor %}

function showWord(index) {
    $("#word").text(words[index].word);
    var translations = '';
    for (i = 0; i < words[index].translations.length; i++) {
        translations += '<li>' + words[index].translations[i] + '</li>';
    }
    $("#translations").html(translations);
    var nextIndex = (words.length > index + 1) ? index + 1 : 0;
    setTimeout('showWord(' + nextIndex+ ')', 10000);
}
setTimeout('showWord(1)', 10000);
</script>